$primary-color: #7d5a50;    // Café principal
$secondary-color: #b4846c;  // Café claro / canela
$accent-color: #4b3832;     // Café oscuro para texto fuerte
$bg-light: #fcf8f5;         // Crema/Beige muy claro para fondos
$bg-card: #ffffff;          // Fondo de tarjetas
$bg-cream: #fcf8f5;         // Fondo general
$bg-input: #eceae9;         // Fondo de campos de texto
$white: #ffffff;
$text-main: #333333;
$text-muted: #666666;
$text-dark: #2d2421;        // Texto principal oscuro

// Tipografía
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$border-radius: 12px;


$tablet: 768px;
$desktop: 1024px;
$mobile: 480px;

